/* -- FONT IMPORTS */

@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");

/* -- GENERAL RESETS -- */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

body {
	background-color: #000000;
	position: relative;
	height: 100vh;
	overflow-x: hidden;
}

/* -- DUPPLE BACKGROUND DIV -- */

.duppled-bg {
	z-index: 1;
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.2s ease-in-out;
	filter: invert(0) brightness(0.3);
}

/* -- WRAPPER (MAIN CONTAINER) -- */

.wrapper {
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 3;
	color: #fff;

	position: absolute;
	height: 100vh;

	display: grid;
	grid-auto-flow: column;
	gap: 10vw;
	padding-left: 25vw;
}

/* -- CONTAINER (INDIVIDUAL ELEMENTS CONTAINER) -- */

.container {
	display: flex;
	height: 100%;
	padding-top: 8vh;
	width: 50vw;
}

/* -- COMPONENT (OBJECT ANIMATED ON SCROLL) -- */

.component {
	display: flex;
	width: 100%;
	flex-direction: column;
	filter: blur(10px) brightness(0.6) opacity(0.4);
	text-shadow: 0 0 10px #000;
	font-size: 1.2vw;
}

.img-component {
	position: relative;
	margin-bottom: 4vh;
}

.img-component img {
	display: block;
	inline-size: 100%;
	margin: 5vh auto 0 auto;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: 5px;
	box-shadow: 0 0 20px #000;
}

.img-component .img-year {
	/* Centered at img bottom */
	position: absolute;
	font-size: 5vw;
	font-weight: 800;
	bottom: 0;
	left: 50%;
	translate: -50% 40%;
}

.desc-component {
	width: 115%;
	margin-left: 50%;
	translate: -50% 0;
}

.desc-component h2 {
	/* Only for h2 titles */
	font-size: 2vw;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.5vh;
	font-family: "Pathway Gothic One", sans-serif;
}

.desc-component * :not(h2) {
	/* All but h2 titles */
	opacity: 0;
	text-align: justify;
	transition: all 0.3s;
	font-size: larger;
}

.int-tooltip .desc-title {
	/* Only for h3 INTERNATIONAL titles */
	padding: 1vw 0 1vw 0;
	font-size: 2vw;
	text-align: center;
	font-family: "Pathway Gothic One", sans-serif;
}

.active .desc-component * :not(h2) {
	/* All but h2 titles when active*/
	opacity: 1;
}
