@import url('https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gap_spacer: 1rem;
}

/* I prefer no to see the scrollbar, but no recomendable to hide it */
::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000000;  
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}

.wrapper {
    color: #fff;

    position: absolute;
    z-index: 2;
    height: 100vh;
    
    display: flex;
    flex-wrap: nowrap;
    padding-left: 25vw;
    padding-right: 15vw;
}

.duppled-bg {
    z-index: 1;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .2s ease-in-out;
    filter: blur(5px) invert(0) brightness(.2);
}

.container {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5vh;
    height: 100%;
    width: 50vw;
}

.component {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    filter: blur(10px) brightness(.6) opacity(.7);
}

.img-component {
    position: relative;
    margin-bottom: 5%;
}

.img-component img {
    display: block;
    inline-size: 80%;
    margin: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.img-component .img-year {
    position: absolute;
    font-size: 100px;
    font-weight: 800;
    bottom: 0;
    left: 50%;
    translate: -50% 40%;
    text-shadow: 0px 0px 20px rgba(0,0,0,.5);
}

/* Only for h2 titles */
.desc-component * :is(h2) {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Pathway Gothic One', sans-serif;
}

/* All but h2 titles */
.desc-component * :not(h2) {
    opacity: 0;
    transition: all .3s;
    font-size: larger;
}

/* Only for h3 INTERNATIONAL titles */
.int-tooltip .desc-title {
    padding: 30px 0 10px;
    font-size: 25px;
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
}

/* All but h2 titles when active*/
.active .desc-component * :not(h2) {
    opacity: 1;
}