*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

:root {
    --body-font: #fff;
    --body-bg: #212121;
    --landing-home-font: #fff;
    --landing-home-hover: #ffffff70;
    --nav-a-font: #ffffff;
    --nav-a-hover: #ffffff3c;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--body-font);
    background-color: var(--body-bg);
    font-family: 'ROBOTO', sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

.landing-home {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: url('./img/main-bg.webp');
    font-weight: 600;
    font-size: 5vw;
    user-select: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.landing-home .title {
    position: relative;
    top: 15vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-shadow: 0px 0px 2px #000;
}

.landing-home .title .name {
    color: var(--landing-home-font);
    font-weight: 600;
    font-size: 6rem;
    user-select: none;
}

.landing-home .title .name span {
    opacity: 0;
    animation: fade 2s forwards;
    animation-delay: 1s;
}

.landing-home .title .name span:last-child {
    animation-delay: 2s;
}

.landing-home .title .slogan {
    color: var(--landing-home-font);
    padding-left: 1.4rem;
    font-weight: 400;
    font-size: 1rem;
    user-select: none;
}

.landing-home .title .slogan span {
    opacity: 0;
    animation: fade .5s forwards;
    animation-delay: calc(var(--delay) + 3s);
}

.landing-home a.arrow-down {
    color:  var(--landing-home-hover);
    border: 2px solid var(--landing-home-hover);
    padding: 15px 10px;
    border-radius: 50px;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    opacity: 0;
    cursor: pointer;
    text-decoration: none;
    animation: fade .5s 5s forwards, bounce 2s infinite;
}

.landing-home a.arrow-down:hover {
    color: var(--landing-home-font);
    border: 2px solid var(--landing-home-font);
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

@keyframes fade {
    100% {opacity: 1;}
}

@keyframes bounce {
    0% {transform: translateY(0px);}
    50% {transform: translateY(15px);}
    100% {transform: translateY(0px);}
}

main {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 100vh;
    display: flex;
    flex-direction: column;
}

main header {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 5rem;
    line-height: 3rem;
    display: flex;
    justify-content: center;
}

main header nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main header nav a {
    color: var(--nav-a-hover);
    position: relative;
    display: inline-block;
    margin: 0 2rem;
    line-height: 3rem;
    font-weight: bolder;
    padding: 0 1.5rem;
    text-decoration: none;
}

main header nav a:hover {
    color: var(--nav-a-font);
}

main header nav a::after {
    content: '';
    position: absolute;
    background-color: var(--nav-a-font);
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: .2s;
}

main header nav  a:hover::after {
    width: 100%;
}

main section.section {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sectionSpecs {
    color: var(--body-font);
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url('https://w.forfun.com/fetch/57/57aa60c30295ff72d6ced0f4a58d2f58.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main #sectionSpecs h2 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

main #sectionSpecs table {
    border-collapse: collapse;
}

main #sectionSpecs table tr {
    border-bottom: 1px solid var(--body-font);
    text-align: right;
}

main #sectionSpecs table tr td {
    padding: 1.5rem 3rem;
}

main #sectionSpecs table tr td:last-child {
    text-align: left;
}

main footer  {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}