* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #000;
    background: #fff;
    font-family: 'ROBOTO', sans-serif;
    height: 100vh;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

section.section {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.landing-home {
    color: white;
    background-image: url('./img/main-bg.webp');
    font-weight: 600;
    font-size: 5vw;
    user-select: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-home .title {
    position: absolute;
    top: 15vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.landing-home .title .name {
    color: white;
    font-weight: 600;
    font-size: 6rem;
    user-select: none;
}

.landing-home .title .name span {
    opacity: 0;
    animation: fade 2s forwards;
    animation-delay: 1s;
}

.landing-home .title .name span:last-child {
    animation-delay: 2s;
}

.landing-home .title .slogan {
    color: white;
    font-weight: 600;
    font-size: 1rem;
    user-select: none;
}

.landing-home .title .slogan span {
    opacity: 0;
    animation: fade .5s forwards;
    animation-delay: calc(var(--delay) + 3s);
}

.landing-home a.arrow-down {
    color:  #ffffff70;
    border: 2px solid #ffffff50;
    padding: 15px 10px;
    border-radius: 50px;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    opacity: 0;
    cursor: pointer;
    text-decoration: none;
    animation: fade .5s 5s forwards, bounce 2s infinite;
}

.landing-home a.arrow-down:hover {
    color: #fff;
    border: 2px solid #fff;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

@keyframes fade {
    100% {opacity: 1;}
}

@keyframes bounce {
    0% {transform: translateY(0px);}
    50% {transform: translateY(15px);}
    100% {transform: translateY(0px);}
}

#section1 {
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 5rem;
    line-height: 3rem;
    display: flex;
    justify-content: center;
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #0000003c;
    position: relative;
    display: inline-block;
    margin: 0 2rem;
    line-height: 3rem;
    font-weight: bolder;
    padding: 0 1.5rem;
    text-decoration: none;
    border-radius: 10px;
}

nav a:hover {
    color: #000;
}

nav a::after {
    content: '';
    position: absolute;
    background-color: #000;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: .2s;
}

nav a:hover::after {
    width: 100%;
    color: #000;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #202020;
    text-align: center;
}