@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'REM', sans-serif;
}

html {
    width: 100%;
    height: 100svh;
}

body {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}

header {
    /* background-color: rgba(255, 255, 255, 0.45); */
    width: 90%;
    height: 80px;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: auto;
}

header ul.tabs-container{
    background-color: black;
    color: white;
    width: 70%;
    display: flex;
}

header ul.tabs-container li {
    list-style: none;
}