/* Importing fonts and css files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('css/theme_switch.css');
@import url('css/lang_selector.css');

@media (prefers-color-scheme: light) {
    :root {
        --body-bg-color: #eee;
        --header-border-color: rgba(0, 0, 0, 0.1);
        /* -- Theme switch button colors --  */
        --label-switch-bg-color: #808080;
        --span-moon-color: #ffffff60;
        --span-sun-color: #fff;
        --theme-indicator-bg-color: #ffffff70;
        --theme-indicator-border-color: #808080;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: #111;
        --header-border-color: rgba(255, 255, 255, 0.1);
        /* -- Theme switch button colors --  */
        --label-switch-bg-color: #202020;
        --span-moon-color: #fff;
        --span-sun-color: #ffffff40;
        --theme-indicator-bg-color: #ffffff30;
        --theme-indicator-border-color: #202020;
    }
}

/*  */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

html {
    width: 100%;
    height: 100svh;
}

body {
    background-color: var(--body-bg-color);
    color: #fff;
    overflow: hidden;
}

header {
    width: 90%;
    height: 80px;
    display: flex;
    border-bottom: 1px solid var(--header-border-color);
    margin: auto;
}

header form {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.ml-auto {
    margin-left: auto;
}

.ml-40 {
    margin-left: 40px;
}