@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('css/theme_switch.css');
@import url('css/lang_selector.css');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

html {
    width: 100%;
    height: 100svh;
}

body {
    background-color: #222;
    color: #fff;
    overflow: hidden;
}

header {
    /* background-color: #ffffff86; */
    width: 90%;
    height: 80px;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: auto;
}

header ul.tabs-container{
    background-color: black;
    color: white;
    width: calc(100% - 375px);
    display: flex;
}

header ul.tabs-container li {
    list-style: none;
}

header form {
    display: flex;
    margin-left: auto;
    height: 100%;
    width: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: space-around;
}

header form .ml-auto {
    margin-left: auto;
}

header form .ml-20 {
    margin-left: 20px;
}