label.switch {
    position: relative;
    width: 80px;
    height: 40px;
    background: var(--label-switch-bg-color);
    border-radius: 50px;
}

label.switch input {
    appearance: none;
}

label.switch span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

label.switch span.moon {
    left: 40px;
    color: var(--span-moon-color);
}

label.switch span.sun {
    color: var(--span-sun-color);
}

span.theme-indicator {
    background-color: var(--theme-indicator-bg-color);
    border: 3px solid var(--theme-indicator-border-color);
    left: 40px;
    transition: all .5s;
    z-index: 1;
}