/* -- IMPORT FONTS AND THEME FILES -- */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('css/light_theme.css');
@import url('css/dark_theme.css');

/* -- GENERAL CSS RESETS -- */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: var(--body-bg);
    color: var(--body-text);
    overflow: hidden;
}

/* -- HEADER -- */

header {
    background-color: var(--body-bg);
    box-shadow: 0 0 2em 3em var(--body-bg);

    display: flex;
    justify-content: space-around;
    position: relative;
    height: 5em;
    width: 100%;
    padding: 1em;
    margin-bottom: 3em;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    & .primary-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    
    & .secondary-container {
        display: flex;
        flex-direction: row;
    }
}

/* -- SELECT LANG DROPDOWN CONTAINER -- */

.secondary-container .select-wrapper {
    color: #fff;
    border-radius: 0.5em;
    min-width: 17em;

    & .select-btn, & .options li {
        display: flex;
        align-items: center;
        height: 3em;
        cursor: pointer;
    }

    & .select-btn { /* -- Select button -- */
        background-color: var(--header-button-bg);
        color: var(--header-button-text);
        justify-content: space-between;
        padding: 0 1em;
        border-radius: 0.5em;
        font-size: 1em;

        &:hover {
            background-color: var(--header-dropdown-bg);
        }

        & ion-icon {
            color: var(--header-button-icon);
            font-size: 1.35em;
            transition: transform 0.2s linear;
        }
    }
    
    &.active .select-btn {
        background-color: var(--header-dropdown-bg);

        & ion-icon {
            transform: rotate(-180deg);
        }
    }
    
    &.active .content {
        display: block;
    }

    & .content { /* -- Dropdown container -- */
        background-color: var(--header-dropdown-bg);
        color: var(--header-button-text);
        display: none;
        margin-top: 0.5em;
        padding: 0.75em;
        border-radius: 0.5em;

        & .search { /* -- Search input -- */
            position: relative;

            & ion-icon {
                color: var(--header-button-alt-icon);
                pointer-events: none;
                position: absolute;
                inset: 1em;
                line-height: 3em;
            }

            & input {
                height: 3em;
                width: 100%;
                outline: none;
                font-size: 1em;
                padding-left: 2.5em;
                border-radius: 0.5em;
                border: 1px solid var(--header-input-border);
            }
        }

        & .options { /* -- Dropdown options container -- */
            margin-top: 1em;
            max-height: 12em;
            overflow-y: auto;
            padding-right: 0.5em;

            &::-webkit-scrollbar {
                width: 7px;
            }

            &::-webkit-scrollbar-track {
                background-color: var(--header-scrollbar-bg);
                border-radius: 25px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--header-scrollbar-thumb);
                border-radius: 25px;
            }

            & li {
                font-size: 1em;
                padding-left: 1em; 
                border-radius: 0.5em;

                &.selected {
                    background-color: var(--header-active-li);
                }

                &:hover {
                    background-color: var(--header-hover-li);
                }
            }
        }
    }
}

/* -- THEME TOGGLE BUTTON -- */

.secondary-container button {
    background-color: var(--header-button-bg);
    color: var(--header-button-icon);
    height: 3.5em;
    width: 3.5em;
    display: block;
    margin-left: 1em;
    border-radius: 3em;
    border: none;
    cursor: pointer;

    & .sun, & .moon {
        display: none;
        font-size: 2em;
    }

    & .disp {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* -- TABS CONTAINER -- */

.primary-container {
    background-color: rgb(0, 102, 255);
    width: 25vw;
}