/* -- IMPORT FONTS AND THEME FILES -- */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('css/light_theme.css');
@import url('css/dark_theme.css');

/* -- GENERAL CSS RESETS -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    overflow: hidden;
}

/* -- HEADER -- */

header {
    background-color: var(--body-bg-color);
    box-shadow: 0 0 2em 3em var(--body-bg-color);

    display: flex;
    align-items: center;
    position: relative;
    height: 5em;
    width: 100%;
    margin: auto;
    margin-bottom: 3em;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    /* -- THEME TOGGLE BUTTON -- */

    & button {
        background-color: var(--theme-button-bg-color);
        color: var(--theme-button-text-color);
        height: 3em;
        width: 3em;
        display: block;
        position: absolute;
        right: 0;
        margin: 0 3em;
        border-radius: 3em;
        border: none;
        cursor: pointer;

        & .sun, & .moon {
            display: none;
            font-size: 2em;
        }

        & .disp {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/* &::-webkit-scrollbar {
    background: transparent;
    width: 1em;
}

&::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: #fff;
    cursor: pointer;
} */