/* -- USER THEME COLOR PREFERENCES -- */

@media (prefers-color-scheme: dark) {
    :root {
        /* -- BODY MAIN COLORS -- */
        --body-bg: #111;
        --body-text: #fff;
    
        /* -- HEADER BUTTONS --  */
        --header-button-bg: #222;
        --header-button-text: #fff;
        --header-button-icon: #fff;

        --header-dropdown-bg: #3a3a3a;
        --header-input-border: #b3b3b3;
        --header-button-alt-icon: #8a8a8a;
        --header-scrollbar-bg: #2e2e2e;
        --header-scrollbar-thumb: #5e5e5e;
        --header-active-li: #2c2c2c;
        --header-hover-li: #4c4c4c;
    }
}

/* -- DARK THEME COLORS SWITCH  -- */

html[data-theme="dark"] {
    /* -- BODY MAIN COLORS -- */
    --body-bg: #111;
    --body-text: #fff;
    
    /* -- HEADER BUTTONS --  */
    --header-button-bg: #222;
    --header-button-text: #fff;
    --header-button-icon: #fff;

    --header-dropdown-bg: #3a3a3a;
    --header-input-border: #b3b3b3;
    --header-button-alt-icon: #8a8a8a;
    --header-scrollbar-bg: #2e2e2e;
    --header-scrollbar-thumb: #5e5e5e;
    --header-active-li: #2c2c2c;
    --header-hover-li: #4c4c4c;
}