div.custom-select {
    background: #fff;
    position: relative;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.select-dropdown {
    top: 40px;
    position: relative;
}

.select-dropdown div {
    background-color: #666666;
    width: 100%;
    display: flex;
    opacity: 0.5;
    padding: .5em 0 .5em 1em;
}

.select-dropdown div:hover {
    opacity: 1;
}

.select-dropdown div img {
    width: 25px;
    margin-right: 1em;
    border-radius: 5px;
}