/* -- USER THEME COLOR PREFERENCES -- */

@media (prefers-color-scheme: light) {
    :root {
        /* -- BODY MAIN COLORS -- */
        --body-bg-color: #eee;
        --body-text-color: #000;

        /* -- THEME SWITCH BUTTON --  */
        --theme-button-bg-color: #c7c7c7;
        --theme-button-icon-color: #333;
    }
}

/* -- LIGHT THEME COLORS SWITCH -- */

html[data-theme="light"] {
    /* -- BODY MAIN COLORS -- */
    --body-bg-color: #eee;
    --body-text-color: #000;

    /* -- THEME SWITCH BUTTON --  */
    --theme-button-bg-color: #c7c7c7;
    --theme-button-icon-color: #333;
}