* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202731;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}